aside {

    @media #{$mq-lg-min} {
        border-left: $site-border;
        padding-left: 20px;
    }

    &:empty {
        display: none;
    }

    @media #{$mq-lg-min} {
        &:not(:empty) {
            width: 300px;
            margin-left: 50px;
        }
    }
}