footer {
    background-color: $off-white;
    padding: 20px;
    border-top: $site-border;

    @media #{$mq-md-min} {
        padding: 50px;
    }

    @media #{$mq-qhd-min} {
        position: relative;
        border-top: none;
        border-left: $site-border;
        text-align: center;
    }

    ul.social-links {
        display: flex;
        padding: 0;
        list-style: none;

        @media #{$mq-qhd-min} {
            flex-direction: row;
            flex-wrap: wrap;
        }

        li {
            padding: 0 10px;

            @media #{$mq-qhd-min} {
                padding: 20px 0;
                width: 50%;
            }

            &:first-child {
                padding-left: 0;
            }

            a {
                display: block;
                padding: 15px;

                img {
                    height: 30px;
                    width: auto;
                    fill: $copy-color;

                    @media #{$mq-qhd-min} {
                        height: 50px;
                    }
                }
            }
        }
    }
}