footer {
    background-color: $off-white;
    padding: 20px;
    border-top: $site-border;

    @media #{$mq-md-min} {
        padding: 50px;
    }

    @media #{$mq-qhd-min} {
        position: relative;
        border-top: none;
        border-left: $site-border;


        & > div {
            position: fixed;
            /*height: 100vh; Looking for a solution if the user makes the browser window too small vertically
            overflow-y: scroll;*/
        }
    }

    ul.social-links {
        display: flex;
        padding: 0;
        list-style: none;

        li {
            padding: 0 10px;
            &:first-child {
                padding-left: 0;
            }

            a {
                display: block;
                padding: 15px;

                img {
                    height:30px;
                    width: auto;
                    fill: $copy-color;
                }
            }
        }
    }
}