@import "mixins";


body {
    display: grid;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    // 0px column is for navigation menu when JS is active
    grid-template-columns: 0px 20px 1fr 20px;
    grid-template-rows: auto auto auto 1fr auto;

    @media #{$mq-md-min} {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: auto auto auto auto 1fr auto;
    }

    @media #{$mq-lg-min} {
        grid-template-columns: 50px auto 1fr auto 50px;
        grid-template-rows: auto auto auto 1fr auto;
    }

    @media #{$mq-xl-min} {
        grid-template-columns: 250px 50px auto 1fr auto;
        grid-template-rows: 100px 1fr auto;
    }

    @media #{$mq-qhd-min} {
        grid-template-columns: 250px 50px auto 1fr auto 200px 400px;
        grid-template-rows: auto 1fr;
    }
}

header {
    grid-column: 3;

    @media #{$mq-md-min} {
        grid-column: 2;
    }

    @media #{$mq-lg-min} {
        grid-column: 2 / span 3;
        grid-row: 1;
    }

    @media #{$mq-xl-min} {
        grid-column: 3;
    }
}

nav {
    grid-row: 1;
    grid-column: 1 / span -1;

    @media #{$mq-md-min} {
        grid-column: 2;
        grid-row: 2;
    }

    @media #{$mq-lg-min} {
        grid-row: 2;
        grid-column: 2 / span 3;
    }

    @media #{$mq-xl-min} {
        grid-row: 1 / span 2;
        grid-column: 1;
    }
}

main {
    //grid-column: 2;
    //grid-row: 3;
    grid-area: 2 / 3;

    @media #{$mq-md-min} {
        grid-area: 3 / 2;
    }

    @media #{$mq-lg-min} {
        grid-area: 3 / 2;
    }

    @media #{$mq-xl-min} {
        grid-area: 2 / 3;
    }

    @media #{$mq-qhd-min} {
        grid-area: 2 / 3;
    }
}

aside {
    grid-area: 3 / 3;
    //grid-row: 3;
    //grid-column: 4;
    @media #{$mq-md-min} {
        grid-area: 4 / 2;
    }

    @media #{$mq-lg-min} {
        grid-area: 3 / 4 / span 2;
    }

    @media #{$mq-xl-min} {
        grid-area: 1 / 5 / span 2;
    }

    @media #{$mq-qhd-min} {
        grid-area: 1 / 5 / span 2;
        /*grid-row: 1 / span 2;
            grid-column: 6;*/
    }
}

footer {
    grid-row: 5;
    grid-column: 2 / span 3;

    @media #{$mq-md-min} {
        grid-row: 6;
        grid-column: 1 / span 4;
    }

    @media #{$mq-lg-min} {
        grid-row: 6;
        grid-column: 1 / span 5;
    }

    @media #{$mq-xl-min} {
        grid-area: 3 / 1 / span 1 / span 5;
    }

    @media #{$mq-qhd-min} {
        grid-row: 1 / span 2;
        grid-column: 7;
    }
}
