header {
    display: flex;
    padding: 20px 0;

    @media #{$mq-md-min} {
    }

    @media #{$mq-lg-min} {
        padding: 30px 0;
    }

    @media #{$mq-xl-min} {
    }

    img, p {
        margin-top: auto;
        margin-bottom: auto;
    }

    p {
        font-family: $header-font;
        font-weight: bold;
        font-size: 1.1em;
        margin-left: 25px;

        @media #{$mq-md-min} {
            font-size: 1.65em;
        }

        @media #{$mq-lg-min} {
            margin-left: 50px;
            font-size: 2em;
        }

        span {
            display: block;
            font-size: 0.65em;
            color: lighten( $copy-color, 25% );
        }
    }
}
