// Contained are all universal variables and plugins for the site
// Plugins
// NONE YET

// Breakpoint variables
$md-min:  "600px";
$lg-min:  "1100px";
$xl-min:  "1600px";
$qhd-min: "1921px";

// Query beginning

// Media queries
$mq-md-min:  "screen and ( min-width: #{$md-min} )";
$mq-lg-min:  "screen and ( min-width: #{$lg-min} )";
$mq-xl-min:  "screen and ( min-width: #{$xl-min} )";
$mq-qhd-min: "screen and ( min-width: #{$qhd-min} )";
