/* #region photography page */
.portfolio-box {
  display: flex;
  justify-content: space-between; }
  .portfolio-box + .portfolio-box {
    margin-top: 5px; }
  .portfolio-box > div + div {
    margin-left: 10px; }

/* #endregion photography page */

