@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photography";
}

<h1>Music Projects</h1>
<h2><a href="https://www.facebook.com/thedisgruntledsherpaproject/" target="_blank" rel="noopener">The Disgruntled Sherpa Project</a></h2>
<p>A rock quintet which hasn&rsquo;t settled on any particular style aside from &lsquo;rock&rsquo;, DSP plays around the mid-atlantic region, centered in Philadelphia.</p>
<div class="video-wrapper"><iframe src="https://www.youtube-nocookie.com/embed/SlPhp-mNRTU?rel=0" frameborder="0" allowfullscreen></iframe></div>
<hr />
<div class="video-wrapper"><iframe src="https://www.youtube.com/embed/P6IF9Af-A6k" frameborder="0" allowfullscreen></iframe></div>
@section Sidebar {
    <h2>Want more?</h2>
    <p>
        We have our Discography on pretty much every streaming service out there.
        But what&rsquo;s more helpful is buying our albums on cdbaby.
        Hey, it can help us put out our next album.
    </p>
    <p><a href="https://store.cdbaby.com/m/cd/thedisgruntledsherpaproj" target="_blank" rel="noopener">cdbaby</a></p>
}