@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photography";
}

<h1>Music by and near Matt Rhine</h1>
<h2>The rock outlet</h2>
<p>
    The Disgruntled Sherpa Project has been putting out an album roughly every
    other year. They're great and you should check them out.
</p>