/* #region photography page */

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
        margin: 0;
        width: calc(33.333% - 6.666px);

        & + figure {
            margin-left: 10px;
        }

        figcaption {
            display: none;
        }

        &:nth-child(3n + 1) {
            margin-left: 0;
        }

        &:nth-child(n + 4) {
            margin-top: 7px;
        }

        a {
            display: block;
            width: 100%;
        }
            img {
                width: 100%;
                height: auto;
            }
    }

    &.one-row {
        flex-wrap: nowrap;

        figure {
            width: auto;
        }
    }
}

/* #endregion photography page */