/* #region photography page */

.portfolio-box {
    display: flex;
    justify-content: space-between;

    figure {
        margin: 0;

        & + figure {
            margin-left: 10px;
        }

        figcaption {
            display: none;
        }

        a {
            display: block;
            width: 100%;
        }
            img {
                width: 100%;
                height: auto;
            }
    }
}

/* #endregion photography page */