@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming";
}

<h1>Programming</h1>
<h2>This site</h2>
<p>MattRhine.com is built multiple tools prefering things that are fast and maintainable.</p>
<ul>
    <li>The .NET framework for the backend, while using simple CSS grid for the front end.</li>
    <li>The styles are precompiled SASS, rendering the actual CSS you can see as minified gobledegook.</li>
    <li>The site targets mobile all the way through large format QHD (2450x1440) displays.</li>
    <li>The site is not using any CSS frameworks! (Aside from CSS's native Grid) I am using grid to place everything, and some styles to format content.</li>
</ul>
<p>You can see the source code on my <a href="https://github.com/Mathias787" target="_blank" rel="noopener" title="Github">Github page</a>. Suggestions are always welcome!</p>

<h2>Go Fish</h2>
<p>I created a version of Go Fish in Java, using card images and what not.</p>
<p><a href="https://github.com/Mathias787/Go-fish" target="_blank">It's on Github</a></p>

@section Sidebar {
    <h2>Cool sidebar!</h2>
    <p>I love the idea of sidebar content. I can and will often put content in here calling out my favorite new projects.</p>
    <p>And even old projects such as my Java <a href="https://github.com/Mathias787/Go-fish" target="_blank">go fish project</a>.</p>
    <p>This aside section is being shoved here with grid. It moves from side to bottom, depending on how wide your screen is.</p>
}