@{
    ViewBag.Title = "Homebase";
    ViewBag.Description = "Matt Rhine's portfolio site. Look at my Photography, Music, and Programming... things.";
}

<h1>Photography, Music, Programming</h1>
<img src="~/Content/images/photography/philly-towers-in-a-row.jpg" class="banner-image" alt="Three towers against a cloudy sky" />
<h2>Photography</h2>