@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>MATT RHINE</h1>
    <h2>Music, Programming, and Photography</h2>
</div>

@section Sidebar {
    <h2>Cool sidebar!</h2>
    <p>
        I love the idea of side content. You can put stuff you want everyone to see here.
        This should be a region that can be set on a page by page basis. Grid will allow it to do some pretty neat stuff!
    </p>
}