@{
    ViewBag.Title = "Home Page";
}

<h1>Photography, Music, Programming</h1>
<img src="~/Content/images/photography/philly-towers-in-a-row.jpg" class="banner-image" alt="Three towers against a cloudy sky" />
<h2>Photography</h2>
<h3>Dogtography</h3>

@section Sidebar {
    <p>
        I love the idea of side content. You can put stuff you want everyone to see here.
        This should be a region that can be set on a page by page basis. Grid will allow it to do some pretty neat stuff!
    </p>
}