@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thoughts";
}

<h1>Matt's Thoughts</h1>
<h2>The internet empowers me to share my opinion as though it matters.</h2>
<p>
    I have found that the more I learn about this whole web development business,
    the wider and deeper the ocean of Web Development gets. I started from a Bachelor's
    of Music and jumped into frontend development. I have still nutured my musical passions
    and have dabbled in photography as well as many other different areas of learning. Learning is fun, isn't it?
</p>