@{
    ViewBag.Title = "Count HTML5 Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Count</h2>
<div id="game">
    <canvas id="game-canvas" width="300" height="400">
        This is an interactive game.
    </canvas>
</div>

@section Sidebar {
    <h2>Technologies used:</h2>
    <ul>
        <li>HTML5 - Canvas</li>
        <li>EaselJS</li>
        <li>Created from Code, Assets, and Tutorial by <a href="https://www.lynda.com/Mak-Seng-Hin/10244216-1.html" target="_blank">Makzan Hin</a></li>
    </ul>
}

@section styles {
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="~/Count/styles/game.css">
}

@section scripts {
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="~/Count/scripts/count-game-graphics.js"></script>
    <script src="~/Count/scripts/game-script.js"></script>
}