@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photography";
}

<h2>Photography</h2>
<h3>Dogtography</h3>
<div class="portfolio-box">
    <div><img src="~/Content/images/photography/dogtography/sheltie-looking-right.jpg" alt="Bi-black Shetland Sheepdog glancing to the right" /></div>
    <div><img src="~/Content/images/photography/dogtography/white-cottonball.jpg" alt="A white fluffy dog looking into the camera" /></div>
    <div><img src="~/Content/images/photography/dogtography/puppy-pounce.jpg" alt="Puppy pouncing on another dog" /></div>
</div>

@section styles {
    @Styles.Render("~/bundles/sections/photography")
}
