@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photography";
}

<h2>Photography</h2>
<h3>Jamaica</h3>

<div class="portfolio-box jamaica one-row">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/jamaica/lightning-show_LG.jpg" itemprop="contentUrl" data-size="2000x1333">
            <img src="~/Content/images/photography/jamaica/lightning-show.jpg" itemprop="thumbnail" alt="Lightning show at Frenchmans Cove" />
        </a>
        <figcaption itemprop="caption description">Lightning show at Frenchmans Cove</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/jamaica/waves-crashing-near-beach_LG.jpg" itemprop="contentUrl" data-size="2000x1333">
            <img src="~/Content/images/photography/jamaica/waves-crashing-near-beach.jpg" alt="Waves crash into rocks near a sandy beach" />
        </a>
        <figcaption itemprop="caption description">Waves crash into rocks near a sandy beach</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/jamaica/a-goat_LG.jpg" itemprop="contentUrl" data-size="2000x1333">
            <img src="~/Content/images/photography/jamaica/a-goat.jpg" alt="A goat looks over" />
        </a>
        <figcaption itemprop="caption description">A goat looks over</figcaption>
    </figure>
</div>

<h3>Dogtography</h3>

<div class="portfolio-box dogtography one-row">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/dogtography/sheltie-looking-right.jpg" itemprop="contentUrl" data-size="800x690">
            <img src="~/Content/images/photography/dogtography/sheltie-looking-right.jpg" alt="Bi-black Shetland Sheepdog glancing to the right" />
        </a>
        <figcaption itemprop="caption description">Bi-black Shetland Sheepdog glancing to the right</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/dogtography/white-cottonball.jpg" itemprop="contentUrl" data-size="1035x690">
            <img src="~/Content/images/photography/dogtography/white-cottonball.jpg" alt="A white fluffy dog looking into the camera" />
        </a>
        <figcaption itemprop="caption description">A white fluffy dog looking into the camera</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/Photograph">
        <a href="~/Content/images/photography/dogtography/puppy-pounce.jpg" itemprop="contentUrl" data-size="542x690">
            <img src="~/Content/images/photography/dogtography/puppy-pounce.jpg" alt="Puppy pouncing on another dog" />
        </a>
        <figcaption itemprop="caption description">Puppy pouncing on another dog</figcaption>
    </figure>
</div>

@{ Html.RenderPartial("_PhotoSwipe"); }

@section styles {
    @Styles.Render("~/bundles/sections/photography")
    @Styles.Render("~/bundles/vendor/photo-swipe-css")
}